<p>Welcome <%= current_user.name %></p>
<%= link_to "Categories", categories_path %>
My Chocolates:

<ul>  
<% current_user.chocolates.each do |chocolate| %>
<%= link_to chocolate.category.name, category_chocolates_path(chocolate.category) %>
<li><%= link_to chocolate.flavor, chocolate_path(chocolate) %></li> - <%= chocolate.category.name %>
<% end %>
</ul>


