
<%= render partial: "layouts/errors", locals: { object: @review } %>
<div class="form">
    <%= form_for ([@chocolate, @review]) do |f| %>
    <div class="input-fields">
      <%= f.label :rating, "Rate (1-5)" %>
      <%= f.number_field :rating %> 
      <%= f.label :comment %>
      <%= f.text_area :comment, rows: 5 %>
      </div>
       <%= f.submit "Submit", class: "submit-btn" %>
    <% end %>
</div>
