<p><%= time_ago_in_words(review.created_at) %> ago by <%= review.user.name %> for<%= link_to review.chocolate.flavor, chocolate_path(review.chocolate) %></p> <br>
<% review.rating.to_i.times do %>
<%= fa_icon "star" %>
<% end %>
<p><%= review.comment %> </p> <br>
