<% if @reviews.blank? %>
  <p>There are no reviews yet.</p>
<% else %>
  <p>Reviews <%= @reviews.size %></p>
  <% @reviews.each do |review| %>
    <ul>
      <%= time_ago_in_words(review.created_at) %> ago by <%= review.user.name %>
      for <%= link_to review.chocolate.flavor, chocolate_path(review.chocolate) %> <br>
      <%= review.rating %> stars <br>
      <%= review.comment %> <br>
      <% if can? :destroy?, review %>
        <%= link_to "Delete", review, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </ul>
  <% end %>
<% end %>
