<% if @reviews.blank? %>
  <p>There are no reviews yet.</p>
<% else %>
  <p>Reviews <%= @reviews.size %></p>
    <ul class="unordered-list">
      <% @reviews.each do |review| %>
        <li class="list" class="only-reviews">
          <%= render partial: "reviews", locals: { review: review } %>
           <%= link_to "Delete", review, method: :delete, data: { confirm: "Are you sure?" } %> <br>
           <%= link_to "Edit", edit_review_path(review) %>
        </li>
        <hr>
      <% end %>
    </ul>
  <% end %>
</div>
<h4 class="back"><%= link_to "Back", url_for(:back) %></h4>