<div class="wrapper">
  <nav class="navbar">
    <ul>
      <% if logged_in? %>
        <li><a class="active"><%= link_to "Home", root_path %></a></li>
        <li><a><%= link_to "#{current_user.name}'s Profile", user_path(current_user) %></a></li>
        <li><a><%= link_to "New Chocolate", new_chocolate_path %></a></li>
        <li><a><%= link_to "Logout", logout_path, method: :delete %></a></li>
      <% else %>
        <li><a><%= link_to "Sign Up", signup_path %></a></li>
        <li><a><%= link_to "Login", login_path %></a></li>
      <% end %>
    </ul>
  </nav>
  <div class="center">
    <h1>Welcome To Chocoholics</h1>
    <h2>Discover New Chocolates</h2>
    <div class="buttons">
      <% if logged_in? %>
        <button class="btn"><%= link_to "Explore Popular Chocolates", chocolates_most_popular_path %> </button>
        <button class="btn"><%= link_to "Browse Categories", categories_path %></button>
        <button class="btn"><%= link_to "All Chocolates", chocolates_path %></button>
      <% else %>
        <button class="btn"><%= link_to "Explore Popular Chocolates", chocolates_most_popular_path %> </button>
        <button class="btn"><%= link_to "Log in", login_path %></button>
        <button class="btn"> <%= link_to "Sign up", signup_path %></button>
      <% end %>
    </div>
  </div>
</div>
