
<div class="navbar">
<ul>
<% if logged_in? %>
      <li><%= link_to "#{current_user.name}'s Profile", user_path(current_user) %></li>
      <li><%= link_to "Most Popular", chocolates_most_popular_path %></li>
      <li><%= link_to "All Chocolates", chocolates_path %></li>
      <li><%= link_to "New Chocolate", new_chocolate_path %></li>
      <li><%= link_to "Reviewed Chocolates", reviews_path %></li>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <% end %>
</ul>
</div>

