<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocoholic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <!-- show flash message if any: -->
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <%= render partial: "layouts/home_navbar" %>
    <%= yield %>
  </body>
</html>
