<div class="form-box">
  <div class="input-group">
    <%= render partial: "layouts/errors", locals: { object: @chocolate } %>
    <%= form_for ([@category, @chocolate]) do |f| %>
      <%= f.label :brand %>
      <%= f.text_field :brand %>
      <%= f.label :flavor %>
      <%= f.text_field :flavor %>
      <%= f.label "Chocolate Image" %>
      <%= f.file_field :image %>
      <%= f.label :dairy_free, "dairy free" %>
      <%= f.check_box :dairy_free %>
      <%= f.label :nut_free, "nut free" %>
      <%= f.check_box :nut_free %>
      <%= f.label :note, "any additional information you'd like to share?" %>
      <%= f.text_area :note, placeholder: "optional", rows: 5 %>
      <% unless @category %>
        <%= f.label :category, "Choose a Category" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %> <br>
        <br>
        <%= f.fields_for :category do |cat_field| %>
          create your own if no match found<%= cat_field.text_field :name, placeholder: "add category name" %>
        <% end %>
      <% end %>
      <%= f.submit "Submit", class: "submit-btn" %>
    <% end %>
  </div>
</div>
