<%= render partial: 'layouts/search' %>
<div class="category-nav">
  <% if @category %>
    <h2><%= @category.name %></h2>
    <p>
      <%= fa_icon "arrow-left" %><%= link_to " Back to Categories ", categories_path %>
      <%= fa_icon "plus-square" %><%= link_to " Add to #{@category.name} ", new_category_chocolate_path(@category) %>
    </p>
    <% else %>
    </div>
    <div>
    <h2>All Chocolates</h2> <br>
  <% end %>
  </div>
  
   
  <div class="choco-div">
  <%= render partial: 'chocolates', locals: {chocolates: @chocolates} %>
</div>
