<h1>New Chocolate</h1>

<%= form_for @chocolate do |f| %>
<%= f.label :brand %>
<%= f.text_field :brand %> <br>
<%= f.label :flavor %>
<%= f.text_field :flavor %> <br>
<%= f.label :cocoa %>
<%= f.number_field :cocoa, placeholder: "cocoa/cacao percent" %> <br>
<%= f.label :country %>
<%= f.text_field :country %> <br>
<%= f.label :note, "Addtional Information" %> <br>
<%= f.text_area :note, placeholder: "optional" %> <br>

<%= f.label :category, "Choose a Category" %>
<%= f.collection_select :category_id, @categories, :id, :name %><br> 

<%= f.fields_for :chocolate, @chocolate.build_category do |cat_field| %>
<%= cat_field.text_field :name, placeholder: "Or add your own" %>
<% end %>
<%= f.submit %>
<% end %>

