<h3>Brand: <%= @chocolate.brand %></h3>
<h4>Flavor: <%= @chocolate.flavor %></h4>
<p>Cocoa: <%= @chocolate.cocoa %></p>
<p>Rating: <%= @chocolate.rating %></p>
<p>additonal info: <%= @chocolate.note %></p>
<p>Category: <%= @chocolate.category.name %></p>

<%= link_to "Edit", edit_chocolate_path(@chocolate) %>
<%= link_to "Delete", @chocolate, method: :delete, data: { confirm: "Are you sure?" } %>