<h3>Brand: <%= @chocolate.brand %></h3>
<h4>Flavor: <%= @chocolate.flavor %></h4>
<p>Cocoa: <%= @chocolate.cocoa %></p>
<p>Rating: <%= @chocolate.rating %></p>
<p>additonal info: <%= @chocolate.note %></p>
<p>Category: <%= @chocolate.category.name %></p>

<%= link_to "Write a review", new_chocolate_review_path(@chocolate) %> <br> <br>

<% if @chocolate.reviews.blank? %>
  <p>There are no reviews yet.</p>
  <% else %>
  <p>Reviews <%= @chocolate.reviews.size %></p>
<% @chocolate.reviews.each do |review| %>
<ul>
  <%= review.user.name %> 
  <%= review.rating %> stars <br>
  <%= review.comment %>
  <%= link_to "Delete", review, method: :delete, data: { confirm: "Are you sure?" } %>
  </ul>
<% end %>

<% end %>



<%= link_to "Edit", edit_chocolate_path(@chocolate) %>
<%= link_to "Delete", @chocolate, method: :delete, data: { confirm: "Are you sure?" } %>