<h3>Brand: <%= @chocolate.brand %></h3>
<h4>Flavor: <%= @chocolate.flavor %></h4> 
<% if @chocolate.avatar.attached? %>
<image src="<%= (url_for(@chocolate.avatar)) %>">
<% end %> <br>
<p>additonal info: <%= @chocolate.note %></p>
<p>Category: <%= @chocolate.category.name %></p>

<ul>
<% @chocolate.tasting_terms.each do |t| %>
 <%= t.term %>
 <% end %>
</ul>
 
<p>Added: <%= time_ago_in_words(@chocolate.created_at) %> ago</p>

 
  <%= link_to "Write a review", new_chocolate_review_path(@chocolate) %> <br> <br>
 
  <p>to leave a review <%= link_to "log in", login_path %>  or <%= link_to "sign up", signup_path %></p>


<% if @chocolate.reviews.blank? %>
  <p>There are no reviews yet.</p>
  <% else %>
  <p>Reviews <%= @chocolate.reviews.size %></p>
<% @chocolate.reviews.limit(3).each do |review| %>
<ul>
  <%= time_ago_in_words(review.created_at) %> ago by <%= review.user.name %> <br>
  <%= review.rating %> stars <br>
  <%= review.comment %> <br>
  
  <%= link_to "Delete", review, method: :delete, data: { confirm: "Are you sure?" } %>
  
  </ul>
<% end %>
<% end %>

<%= link_to "View all", chocolate_reviews_path(@chocolate) %>


<%= link_to "Edit", edit_chocolate_path(@chocolate) %>


<%= link_to "Delete", @chocolate, method: :delete, data: { confirm: "Are you sure?" } %>
