
<div class="wrapper">
  <div class="first">
   <div class="back"><%= link_to (fa_icon "arrow-left lg"), url_for(:back) %></div>
  <h1 class="headers">Flavor: <%= @chocolate.flavor %></h1>
    <h3>Brand: <%= @chocolate.brand %></h3>
    <h3>Category: <%= @chocolate.category.name %></h3>
    <% if @chocolate.image.attached? %>
      <%= image_tag @chocolate.image.variant(resize_to_limit: [400, 400]) %>
    <% end %>
    <h4>additonal info: <%= @chocolate.note %></h4>
     
    <h4>Dairy Free: <%= human_boolean(@chocolate.dairy_free) %></h4>
    
    <h4>Nut Free: <%= human_boolean(@chocolate.nut_free) %></h4>
     
    <% if @chocolate.user == current_user %>
      <%= link_to (fa_icon "edit lg"), edit_chocolate_path(@chocolate) %>
      <%= link_to (fa_icon "trash lg") , @chocolate, method: :delete, data: { confirm: "Are you sure?" } %> <br>
    <% end %>
    <p>Added: <%= time_ago_in_words(@chocolate.created_at) %> ago</p>
  </div>
  <div class="second">
    <h3><%= link_to "Write a review", new_chocolate_review_path(@chocolate) %></h3>
    <% if @chocolate.reviews.blank? %>
      <p>there are no reviews yet.</p>
    <% else %>
      <p>Reviews: <%= @chocolate.reviews.count %></p>
      <p>Average Rating: <%= @chocolate.average_rating %>/5</p>
        <% @chocolate.reviews.by_created_at.limit(5).each do |review| %>
          <%= render partial: "reviews/reviews", locals: { review: review } %> <br> <br>
        <% end %>
        <%= link_to "View all", chocolate_reviews_path(@chocolate) %>
    <% end %>
  </div>
</div>

